@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
body {
    background-color: #222;
    color: #fff;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

#slider {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.slick-slide {
    margin: 0 10px;
}

img {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

.fab {
    font-size: 2rem;
    color: white;
}